
db.sqlite3
Face_Recogination/__pycache__/main.cpython-310.pyc
Face_Recogination/__pycache__/views.cpython-310.pyc
Face_Recogination/__pycache__/xog.cpython-310.pyc
Group76/__pycache__/settings.cpython-310.pyc
just.db
